body
{
	margin:0;
	background-color:white;
	color:white;
	font-family: 'Russo One', sans-serif;
}

#top
{
	width:100%;
	height:40px;
	background-color:black;
	padding-top:10px;
	padding-bottom:10px;

}

#logo
{
	font-size:30px;
	padding:5px;
	text-transform:uppercase;

	text-align:center;
	width:400px;
	height:30px;
	float:left;
	margin-left:10px;
	margin-right:10px;
}

#socials
{
	font-size:30px;
	padding:5px;
	text-transform:uppercase;

	text-align:center;
	width:550px;
	height:30px;
	float:left;
	margin-left:10px;
	margin-right:10px;
	
}
#nav
{
	padding:5px;
	text-transform:uppercase;

	text-align:center;
	width:550px;
	height:30px;
	float:left;
	margin-left:10px;
	margin-right:10px;
}
ul
{
	margin:0;
	padding:0;
	list-style-type:none;
}
ul>li
{
	height:30px;
	font-size:24px;
	display:inline-block;
	width:130px;
	line-height:1.5;
}
#container
{
	width:100%;
	height:630px;
	background-color:white;
}
#foot
{
	width:100%;
	height:40px;
	background-color:black;
	padding-top:30px;
	padding-bottom:10px;
	text-transform:uppercase;
	text-align:center;
	font-size:15px;
}
.tile1
{
	float:left;
	width:163px;
	height:30px;
	margin-left:10px;
	margin-right:10px;
	
	text-align:right;
	
}
.tile2
{
	float:left;
	width:163px;
	height:30px;
	margin-left:10px;
	margin-right:10px;
	
	text-align:right;	
}
.tile3
{
	float:left;
	width:163px;
	height:30px;
	margin-left:10px;
	margin-right:10px;
	
	text-align:right;
}